:root {
  --dark-text: #3f3f3f;
  --white: #ffffff;
}

body {
  color: var(--dark-text);
  margin: 0px;
  height: 100%;
}

.content {
  margin-left: 250px;
  padding: 1px 16px;
  height: 100%;
  background-color: #f1f9ff;
  color: var(--dark-text);
}

#admin-nav {
  background-color: #0080c8;
  font-weight: 500;
}

#admin-nav-blank-area {
  width: 250px;
  height: 50px;
  background-color: red;
}

@media screen and (max-width: 500px) {
  .content {
    margin-left: 0;
  }
}
