.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #ffffff;
  position: fixed;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: auto;
  min-height: min-content;
}

.sidebar a {
  display: block;
  color: var(--dark-text);
  padding: 16px;
  text-decoration: none;
}

.sidebar a:hover:not(.active) {
  background-color: #fcb426;
  color: white;
}

#profile-box {
  height: 20%;
  flex-grow: 1;
}

#profile-name-cap {
  font-size: 0.9em;
}
#profile-title-cap {
  font-size: 0.8em;
}

#main-menu {
  flex-grow: 2;
}

#last-menu-box {
  flex-grow: 1;
}

@media only screen and (max-width: 500px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar {
    display: flex;
  }
  .content {
    margin-left: 0;
  }
}

@media only screen and (max-width: 300px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
